{% extends "base.html" %}

{% block title %}{{non_primary_ad_account.PrimaryID}}{% endblock %}
{% block content %}
    <h1>User: {{non_primary_ad_account.FirstName}} {{non_primary_ad_account.Surname}}</h1>
    <p>Email: {{non_primary_ad_account.EmailAddress}}</p>
    <p>Title: {{non_primary_ad_account.JobTitle}}</p>
    <p>Department: {{non_primary_ad_account.Department}}</p>
    <p>Company: {{non_primary_ad_account.Company}}</p>
    <p>Manager: {{non_primary_ad_account.Manager}} {{non_primary_ad_account.ManagerID}}</p>
    <p>Has been granted secondary ID: {{non_primary_ad_account.SecondaryID}}</p>

    <a href="{% url 'welcome' %}">Home</a>
{% endblock %}